body {
    background: black;
}
section {
    text-align: center;
    color: white;
}
#container {
    position: absolute;
    left: 40%;
    top: 25%;
    text-align: center;
    border-radius: 25px;
    background-color: dimgray;
    width: 25%;
}